body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: olivedrab;
}

.imgContainer {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
.game-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.game-info > button {
  height: 30px;
}

.game-info > div {
  padding-top: 20px;
}

.end-game-message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 1;
}
