body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: olivedrab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  position: relative;
  width: 441px;
  height: 444px;
}

.hat {
  position: absolute;
  left: 115px;
  top: 28px;
  background-color: pink;
  width: 100px;
  height: 80px;
  opacity: 0.3;
}

.nose {
  position: absolute;
  left: 206px;
  top: 115px;
  background-color: pink;
  width: 46px;
  height: 45px;
  opacity: 0.2;
}

.leftfoot {
  position: absolute;
  right: 104px;
  bottom: 4px;
  background-color: pink;
  width: 57px;
  height: 52px;
  opacity: 0.2;
}

.game-info,
.game-start {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.game-start > button {
  height: 30px;
}

.game-info > div {
  padding-top: 20px;
}

.end-game-message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 1;
}
